(ns {{top/ns}}.{{main/ns}}-test
  (:require [{{test-runner/namespace}} :as t]
            [{{top/ns}}.{{main/ns}} :as sut]))

(t/{{test-runner/deftest}} a-test
  (t/{{test-runner/testing}} "FIXME, I fail."
    (t/{{test-runner/is}} (= 0 1))))
